    <%- include('partials/header.html') %>


    <main>

        <section class="container">
            <div class="resultado-busca mb-4 mt-4 text-center">
                <% if(contagem > 1 || contagem == 0){ %>
                    <h2><%= contagem %> resultados</h2>
                <% }else{ %>
                    <h2><%= contagem %> resultado</h2>
                <% } %>
            </div>
        </section>

        <section class="container res-busca">
            <div class="mb-2 res-busca-single">
                    
    
                <% for(let i = 0; i < posts.length; i++){ %>
    
                    <div class="">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" >
                            <div class="col px-4 pt-4 pb-3 d-flex flex-column position-static news-title-category-busca">
                                <strong class="d-inline-block mb-2 text-secundary"><%= posts[i].categoria %></strong>
                                <h3 class="mb-0 news-title-busca"><%= posts[i].titulo %></h3>
                            </div>
                            <div class="row g-0 overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
                                <div class="col ps-4 pe-1 pb-3 d-flex flex-column position-static">
                                    <p class="card-text mb-3 mt-3"><%- posts[i].conteudoCurto %>...</p>
                                    <button type="button" class="btn-noticia">Saiba Mais...</button>
                                </div>
                                <div class="col-auto d-none d-lg-block">
                                    <img src="<%= posts[i].imagem %>" class="bd-placeholder-img img-news" width="200" height="100%"></img>
                                </div>
                            </div>
                            <a href="<%= posts[i].slug %>" class="stretched-link"></a>
                        </div>
                    </div>
    
                <% } %>
                
    
            </div>

            <div class="noticias-top">
                <h3>Mais Lidas</h3>
                <div>
    
                        
                    <% for(let i = 0; i < postsTop.length; i++){ %>
    
                        <hr>
                        <div class="noticias-top-single">
                            <div class="noticias-top-single-img">
                                <img src="<%= postsTop[i].imagem %>"
                            style="min-width: 10px;">
                            </div>
                            <div class="noticias-top-single-text">
                                <strong class="d-inline-block  text-secundary"><%= postsTop[i].categoria %></strong>
                                <p><%= postsTop[i].titulo %></p>
                                <button type="button" class="btn-noticias-top">Saiba Mais...</button>
                            </div>
                            <a href="<%= postsTop[i].slug %>" class="noticias-top-single-link"></a>
                        </div>
        
                    <% } %>
    
                                        
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer.html') %>

</body>
</html>