<%- include('partials/header.html') %>


<main class="container">
    <section class="title-foto mt-4 mb-4">
        <div class="title mb-2">
            <h5><strong class="d-inline-block mb-2 text-black-50">Categoria da notícia</strong></h5>
            <h1>Título da notícia</h1>
            <span>Autor da notícia</span>
        </div>
        <div class="image">
            <img src="https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        </div>
    </section>
    <hr>

    <section class="content">
        <div class="lh-md mb-4 content-noticia">
            
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta nulla nunc, ut dictum purus condimentum at. In condimentum nibh sollicitudin lectus rhoncus, sit amet cursus dui fringilla. Aliquam ullamcorper eleifend sem, quis volutpat risus finibus interdum. Curabitur et pharetra dui. Maecenas interdum lacus id risus porta, id laoreet massa fringilla. Nullam at consequat elit, sed volutpat eros. Etiam laoreet molestie urna ac fringilla. Aenean vitae diam auctor, porttitor leo ut, semper turpis. Aliquam imperdiet odio nec diam venenatis, eu tempus metus faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent varius, nisi at blandit scelerisque, dui ligula malesuada lacus, vitae blandit lacus felis eget sapien. Nam sed suscipit arcu. Vestibulum varius ante ac ligula pellentesque congue.
            </p>
            <p>
                Maecenas venenatis pellentesque sem. Cras luctus turpis elit, elementum imperdiet nibh fermentum ut. Nulla facilisi. Quisque pretium lacinia elit, quis placerat arcu porta eget. Duis condimentum porta odio at facilisis. Maecenas sit amet orci nisl. Curabitur faucibus lacus id mattis lacinia. Nunc interdum viverra semper.
            </p>
            <p>
                Nam vel leo lectus. Phasellus vulputate velit et lorem blandit mollis. Vivamus hendrerit auctor neque vel commodo. Nulla sem tellus, auctor at tortor ac, finibus congue eros. Nulla et magna quis ligula placerat condimentum vitae in leo. Mauris sodales nulla odio, sed mattis nibh suscipit in. Morbi efficitur dui quis dui lacinia, interdum commodo nulla luctus. Nullam lacus erat, malesuada porttitor rhoncus vitae, commodo sed ipsum.
            </p>
            <p>
                Suspendisse hendrerit, ipsum in eleifend ultrices, libero sapien vestibulum mauris, vel lacinia magna mi interdum erat. Vivamus volutpat massa vitae mauris vestibulum rhoncus. Suspendisse imperdiet efficitur mattis. Quisque ac orci quis libero viverra porta eu sed leo. Aliquam mattis dictum urna. Etiam a facilisis diam, vel laoreet leo. Vestibulum velit augue, dictum eu feugiat et, vestibulum dapibus nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            </p>
            <p>
                Aenean dictum odio eget augue volutpat, posuere congue mi ultricies. Quisque magna turpis, tincidunt et purus eget, vehicula dignissim dui. Vestibulum eget ornare orci. Ut ipsum velit, fringilla vitae purus at, varius molestie tortor. Suspendisse vitae pellentesque velit, consectetur feugiat urna. Integer consequat ultrices tellus nec vestibulum. Donec et diam a ex molestie ultrices et eu dui. Ut tempor mauris sed nunc volutpat dictum. Aenean id sem dignissim, aliquet arcu vitae, laoreet purus. Sed ut justo vestibulum, venenatis purus sed, dictum massa. In vitae enim tristique, viverra risus at, commodo libero. Phasellus ligula orci, venenatis sit amet lobortis facilisis, semper quis sapien. Nullam lacinia lacinia eros.
            </p>

        </div>

        <div class="noticias-top">
            <h3>Mais Lidas</h3>
            <div>
                

                <hr>
                <div class="noticias-top-single">
                    <div class="noticias-top-single-img">
                        <img src="https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    style="min-width: 10px;">
                    </div>
                    <div class="noticias-top-single-text">
                        <strong class="d-inline-block  text-secundary">Categoria da notícia</strong>
                        <p>Título da notícia</p>
                        <button type="button" class="btn-noticias-top">Saiba Mais...</button>
                    </div>
                    <a href="" class="noticias-top-single-link"></a><!-- slug -->
                </div>

                <hr>
                <div class="noticias-top-single">
                    <div class="noticias-top-single-img">
                        <img src="https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    style="min-width: 10px;">
                    </div>
                    <div class="noticias-top-single-text">
                        <strong class="d-inline-block  text-secundary">Categoria da notícia</strong>
                        <p>Título da notícia</p>
                        <button type="button" class="btn-noticias-top">Saiba Mais...</button>
                    </div>
                    <a href="" class="noticias-top-single-link"></a><!-- slug -->
                </div>

                <hr>
                <div class="noticias-top-single">
                    <div class="noticias-top-single-img">
                        <img src="https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    style="min-width: 10px;">
                    </div>
                    <div class="noticias-top-single-text">
                        <strong class="d-inline-block  text-secundary">Categoria da notícia</strong>
                        <p>Título da notícia</p>
                        <button type="button" class="btn-noticias-top">Saiba Mais...</button>
                    </div>
                    <a href="" class="noticias-top-single-link"></a><!-- slug -->
                </div>

                                
            </div>
        </div>
    </section>
</main>


<%- include('partials/footer.html') %>

</body>
</html>