<%- include('partials/header.html') %>


<main class="container">
    <section class="title-foto mt-4 mb-4">
        <div class="title mb-2">
            <h5><strong class="d-inline-block mb-2 text-black-50"><%= noticia.categoria %></strong></h5>
            <h1><%= noticia.titulo %></h1>
            <span><%= noticia.autor %></span>
        </div>
        <div class="image">
            <img src="<%= noticia.imagem %>">
        </div>
    </section>
    <hr>

    <section class="content">
        <div class="lh-md mb-4 content-noticia">
            
            <%- noticia.conteudo %>

        </div>

        <div class="noticias-top">
            <h3>Mais Lidas</h3>
            <div>
                

                <% for(let i = 0; i < postsTop.length; i++){ %>

                    <hr>
                    <div class="noticias-top-single">
                        <div class="noticias-top-single-img">
                            <img src="<%= postsTop[i].imagem %>"
                        style="min-width: 10px;">
                        </div>
                        <div class="noticias-top-single-text">
                            <strong class="d-inline-block  text-secundary"><%= postsTop[i].categoria %></strong>
                            <p><%= postsTop[i].titulo %></p>
                            <button type="button" class="btn-noticias-top">Saiba Mais...</button>
                        </div>
                        <a href="<%= postsTop[i].slug %>" class="noticias-top-single-link"></a>
                    </div>
    
                    <% } %>

                                
            </div>
        </div>
    </section>
</main>


<%- include('partials/footer.html') %>

</body>
</html>